
<style>
    .letters{
        margin-right: 0px;
    }
    	.states{
        fill: #bdbdbd;
		stroke: #a9a9a9;
		stroke-width: 1;
	}
    
    .background {
  fill: none;
  pointer-events: all;
}
    
    /* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
/*	width: 60px;                  */
/*	height: 28px;                 */
	padding: 2px;             
	font: 14px sans-serif;        
	background-color: rgba(0,0,0,0.7);
    color: #ffffff;
	border: 0px;      
	border-radius: 3px;           
	pointer-events: none;         
}
	/* On mouse hover, lighten state color */

    #states {
  fill: #aaa;
}

#states .active {
  fill: orange;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
    
    /*
.states :hover {
  fill: #eeeeee;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
*/
</style>
<div>
    <md-card>
        <md-card-content>
            <div id="tooltip"></div><!-- div to hold tooltip. -->
            <svg id="statesvg"  width="100%" height="500px"></svg> <!-- svg to hold the map. -->
        </md-card-content>
    </md-card>
</div>
<div>
    <md-card>
        <md-card-title>Search Gyms by State</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <div layout="row" style="border-bottom: 1px solid #eeeeee; margin-bottom: 15px;" layout-align="center center" flex>
                <span ng-repeat="state in stateArr track by $index" class="letters" flex><a href="javascript:void(0)" ng-click="stateSelection(state)">{{state}}</a></span>
            </div>
            <div style="height: 500px; overflow-y: auto;">
                <div ng-if="selectedState==''">
                    Please select a state to view gyms
                </div>
                <div ng-if="selectedState != ''" style="font-size: 28px; color: #979797; margin-bottom: 15px;">
                    State | {{selectedState}}
                </div>
                <div ng-if="selectedGyms.length < 1 && selectedState != ''">
                    No UNC affiliated gyms currently located in this state
                </div>
                <div ng-if="selectedGyms.length > 0 && selectedState != ''" ng-repeat="item in selectedGyms track by $index" style="margin-bottom: 10px; border-bottom: 1px solid #eeeeee; padding-bottom: 5px;">
                    <div style="font-size: 24px; font0-weight: bold;">{{item.name}}</div>
                    <div style="font-size: 16px;">{{item.address}}</div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>

<div style="visibility: hidden">
<div class="md-dialog-container" id="sessionDialog">
    <md-dialog aria-label="session">
        <md-dialog-content>
          <div class="md-dialog-content">
            <h2 ng-if="!errCheck" style="color: #979797;">Your session has expired, redirecting to login page!</h2>
              <div layout="row">
            <div layout="column" flex="100" layout-align="center center">
              <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            </div>
          </div>
        </md-dialog-content>
            
    </md-dialog>
</div>
</div>