<video width="100%" height="auto" controls poster="https://s3.amazonaws.com/ninjanow-thumbnail-images/unc_logo.png">
                        <source src="http://d3f0tscx3wpcc3.cloudfront.net/pineapple_pack/pineapple_party_ep1.mp4">
                      <source src="http://d3f0tscx3wpcc3.cloudfront.net/pineapple_pack/pineapple_party_ep1.m3u8" type="application/x-mpegURL">       
                    </video>

<div style="visibility: hidden">
<div class="md-dialog-container" id="sessionDialog">
    <md-dialog aria-label="session">
        <md-dialog-content>
          <div class="md-dialog-content">
            <h2 ng-if="!errCheck" style="color: #979797;">Your session has expired, redirecting to login page!</h2>
              <div layout="row">
            <div layout="column" flex="100" layout-align="center center">
              <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>
            </div>
          </div>
        </md-dialog-content>
            
    </md-dialog>
</div>
</div>