<!DOCTYPE html>
<html ng-app="unc_app">
 
<head>
  <title>Ultimate Ninja Championship</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/angular-material/angular-material.css">
  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/node_modules/angular-ui-bootstrap/dist
/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
  
    
    <!-- Angular material dependencies-->
    <script src="/lib/angular-aria/angular-aria.js"></script> 
    <script src="/lib/angular-animate/angular-animate.js"></script> 
    <script src="/lib/angular-material/angular-material.js"></script>
    
    <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/factory.js"></script>
  <script type="text/javascript" src="/js/controller.js"></script>
</head>
 
<body>
 
<div ng-controller="newController" layout="column" style="" ng-cloak>
<md-content>
  <md-toolbar class="md-hue-2" style="background: #081c51;">
      <div class="md-toolbar-tools" style="font-weight: bold; cursor: pointer;">
          <span><img src="/images/unc_logo.png" width="50px;" height="auto"/></span>
          <span style="margin-left: 45px; font-size: 14px;" class="navItem">News</span>
          <span style="margin-left: 25px; font-size: 14px;" class="navItem">Results</span>
          <span style="margin-left: 25px; font-size: 14px;" class="navItem">Schedule</span>
          <span style="margin-left: 25px; font-size: 14px;" class="navItem">Standings</span>
          <span style="margin-left: 25px; font-size: 14px;" class="navItem">Ninjas</span>
          <span style="margin-left: 25px; font-size: 14px;" class="navItem">Obstacles</span>
          <span style="margin-left: 25px; font-size: 14px;" class="navItem">Gyms</span>
          <span style="margin-left: 25px; font-size: 14px;" class="navItem">Fanzone</span>
          <span style="margin-left: 25px; font-size: 14px;" class="navItem">Tickets</span>
          <span layout="row" flex layout-align="end center" style="font-size: 14px; font-weight: bold;">
              <span  style="font-size: 20px; color: #ffffff; margin-right: 15px;"><i class="fa fa-search"></i></span>
              <span  style="font-size: 20px; color: #ffffff; margin-right: 15px;"><i class="fa fa-facebook"></i></span>
              <span  style="font-size: 20px; color: #ffffff; margin-right: 15px;"><i class="fa fa-instagram"></i></span>
              <span  style="font-size: 20px; color: #ffffff; margin-right: 15px;"><i class="fa fa-twitter"></i></span>
          </span>
      </div>
    </md-toolbar>
</md-content>
    <div layout="row" flex="100" style="background: linear-gradient(to bottom, rgb(226,226,226) 0%,rgb(219,219,219) 50%,rgb(209,209,209) 51%,rgb(254,254,254) 100%); padding-top: 10px; padding-bottom: 10px; border-bottom: 2px solid #081c51;">
                        <div layout="column" flex="15" style="border-right: 1px solid #878787;" layout-align="center center">
                            <div style="color: #878787;">Course 1</div>
                            <div style="font-weight: bold; color: #878787;">Movement Lab NJ</div>
                            <div style="color: #2b2b2b; font-weight: bold;"><span><i class="fa fa-trophy" aria-hidden="true"></i></span><span style="margin-left: 5px;">DiGangi</span></div>
                            </div>
        <div layout="column" flex="15" style="border-right: 1px solid #878787;" layout-align="center center">
                            <div style="color: #878787;">Course 2</div>
                            <div style="font-weight: bold; color: #878787;">NinjaQuest</div>
                            <div style="color: #2b2b2b; font-weight: bold;"><span><i class="fa fa-trophy" aria-hidden="true"></i></span><span style="margin-left: 5px;">Swanson</span></div>
                            </div>
        <div layout="column" flex="15" style="border-right: 1px solid #878787;" layout-align="center center">
                            <div style="color: #878787;">Course 3</div>
                            <div style="font-weight: bold; color: #878787;">Apex NorCal</div>
                            <div style="color: #2b2b2b; font-weight: bold;"><span><i class="fa fa-trophy" aria-hidden="true"></i></span><span style="margin-left: 5px;">Labreck</span></div>
                            </div>
        <div layout="column" flex="15" style="border-right: 1px solid #878787;" layout-align="center center">
                            <div style="color: #878787;">Course 4</div>
                            <div style="font-weight: bold">Ultimate Ninjas Nap</div>
                            <div style="color: #878787;">9/7/2019</div>
                            </div>
        <div layout="column" flex="15" style="border-right: 1px solid #878787;" layout-align="center center">
                            <div style="color: #878787;">Course 5</div>
                            <div style="font-weight: bold">Real Life Ninja Ac.</div>
                            <div style="color: #878787;">10/12/2019</div>
                            </div>
        <div layout="column" flex="15" style="border-right: 1px solid #878787;" layout-align="center center">
                            <div style="color: #878787;">Course 6</div>
                            <div style="font-weight: bold">Alternate Routes</div>
                            <div style="color: #878787;">11/9/2019</div>
                            </div>
        <div layout="column" flex="15" style="border-right: 1px solid #878787;" layout-align="center center">
                            <div style="color: #878787;">Course 7</div>
                            <div style="font-weight: bold">Iron Sports</div>
                            <div style="color: #878787;">12/14/2019</div>
                            </div>
        <div layout="column" flex="15" style="border-right: 1px solid #878787;" layout-align="center center">
                            <div style="color: #878787;">Course 8</div>
                            <div style="font-weight: bold">Centercourt</div>
                            <div style="color: #878787;">1/11/2020</div>
                            </div>
                    </div>
            


  <section layout="row" flex-xs style="background-color: #dedede;">

    <md-content flex layout-padding style="background-color: #dedede;">

      <div class="container" style="">
    <ng-view flex></ng-view>
  </div>

    </md-content>

  </section>


            
</div>      
            
  <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</body>
 
</html>